

body{
    display: flex;
    background-color: black;
}


.side{
    height: 700px;
    width: 250px;
    border-radius: 0%;
    background-color: rgb(52, 51, 51);
    margin: 3px;
    display: inline;
}
img{
    margin-left: 30px;
    margin-top: 10px;
}
h1{
    color: white;
    margin-left: 20px;
}
.abt{
   display: inline;
  margin-left: 20px;
  height: 900px;
  width: 1200px;
  background-color: rgb(59, 58, 58);
   
}
button{
    width: 150px;
    height: 30px;
    margin-left:20px;
    color: aliceblue;
    background-color: rgb(53, 51, 51);
}  
.line{
    color: beige;
    margin-left: 20px;
} 
.det{
    color: antiquewhite;
    margin-left: 20px;
    
}
h4{
    margin-left: 20px;
}
p{
    margin-left:20px;
}


/* TAB
@media(min-width:768px){

}

/* DESKTOP */
@media(min-width:1024px){

} */

.abt{
    color: aliceblue;
}
.what{
    margin-top: 20px;
}
